:root{
  --border-radius-small: 5px;
  --border-radius-medium: 12px;
  --border-color: #000000;
  --font-medium: 20px;
  --light-font: #ffffff;
}

/* Resetting default setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styling */
body {
  font-family: "Kode Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  text-align: center;
}

.color-box {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-medium);
}

.options .option-btn {
  font-family: "Kode Mono", monospace;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-small);
  transition: 200ms;
}

.red-btn {
  background-color: #ff0000;
  color: var(--light-font);
}

.red-btn:hover {
  background-color: #d21111;
}

.green-btn {
  background-color: #008000;
  color: var(--light-font);
}

.green-btn:hover {
  background-color: #0c580c;
}

.blue-btn {
  background-color: #0000ff;
  color: var(--light-font);
}

.blue-btn:hover {
  background-color: #0059ff;
}

.black-btn {
  background-color: #000000;
  color: var(--light-font);
}

.black-btn:hover {
  background-color: #4a4444;
}

.brown-btn {
  background-color: #a52a2a;
  color: var(--light-font);
}

.brown-btn:hover {
  background-color: #7a2a2a;
}

.message {
  font-size: var(--font-medium);
  margin-bottom: 20px;
}

.score {
  font-size: 18px;
}

.reset-btn {
  font-family: "Kode Mono", monospace;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: var(--border-radius-small);
  border: none;
}

.difficulty-level{
  font-family: "Kode Mono", monospace;
}

.difficulty {
  margin-top: 20px;
}

.d-none {
  display: none;
}
